<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<body>
<header>
    <div class="name-place">
        <h3>WEBA</h3>
    </div>
    <nav>
        <a href="/events">All Events</a>
        <a href="/eventBooking">Booked Events</a>
    </nav>
</header>
<main>
    <div class="title">
        <h3>Event confirmation site</h3>
        <p>Thank you choosing us</p>
    </div>
    <div class="bookingDetails">
        <h3>Event Booking Details</h3>
        <h4 th:text="${event}"></h4>
        <h4 th:text="${attendee}"></h4>
        <h4 th:text="${tickets}"></h4>
        <a href="/events" class="btn">Back to events</a>
    </div>
</main>
<footer>
    <p>Event Boooking App is Developed By Ivan Ivanovski <script>document.write(String(new Date().getFullYear()))</script></p>
</footer>
<script>
    // Select all radio buttons with the name 'eventRadioBtn'
    let events = document.querySelectorAll("input[name='eventRadioBtn']");

    // Add an event listener to each radio button to update the selected event
    events.forEach((eventRadio) => {
        eventRadio.addEventListener('change', () => {
            // When a radio button is selected, set the selected event's value in the text field
            document.getElementById("selectedEvent").value = eventRadio.value;
        });
    });
</script>

</body>
</html>